In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LinearRegression

In [6]:
X = np.array([10, 20, 30, 40, 50, 10, 25, 30, 45, 50, 15, 20,35, 40, 50, 50, 45, 30, 25, 20, 10])
Y = np.array([95, 185, 280, 370, 490, 100, 230, 290, 410, 500, 135, 200, 295, 395, 495, 480, 430, 305, 205, 175, 110])


df = pd.DataFrame({'Ads/Month':X, 'Paid/Month':Y})
df.head()

   Ads/Month  Paid/Month
0         10          95
1         20         185
2         30         280
3         40         370
4         50         490

In [9]:
df.describe()

       Ads/Month  Paid/Month
count  21.000000   21.000000
mean   30.952381  294.047619
std    14.196747  139.172726
min    10.000000   95.000000
25%    20.000000  185.000000
50%    30.000000  290.000000
75%    45.000000  410.000000
max    50.000000  500.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ads/Month   21 non-null     int32
 1   Paid/Month  21 non-null     int32
dtypes: int32(2)
memory usage: 296.0 bytes

In [11]:
df.dtypes

Ads/Month     int32
Paid/Month    int32
dtype: object

In [24]:
model = LinearRegression().fit(X.reshape(-1, 1), Y )

In [25]:
#Save the Model created 
filename = "model.save"
joblib.dump(model, filename)

['model.save']

In [27]:
#load the Model
loaded_model = joblib.load(filename)

In [30]:
df.head()

   Ads/Month  Paid/Month
0         10          95
1         20         185
2         30         280
3         40         370
4         50         490

In [35]:
#testing the Model
loaded_model.predict([[20]])

array([187.41878323])